<div class="container-fluid">
  <div class="row">
    <div class=" col-sm-6 col-md-4 col-lg-3 mb-3 mt-5 mb-sm-0">
    <div class="card" style="width: 18rem; text-align: center;">
      <img src="../../../assets/pexels-david-gomes-2752777.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-header">Name of movie</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <div class="card-footer"><a href="/seat" class=" btn btn-primary">Go To Book</a>
        </div>
      </div>
    </div>
  </div>

  <div class=" col-sm-6 col-md-4 col-lg-3 mb-3 mt-5 mb-sm-0">
    <div class="card" style="width: 18rem; text-align: center;">
      <img src="../../../assets/pexels-ekaterina-belinskaya-4700359.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-header">Name of movie</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <div class="card-footer"><a href="/seat" class=" btn btn-primary">Go To Book</a>
        </div>
      </div>
    </div>
  </div>

  <div class=" col-sm-6 col-md-4 col-lg-3 mb-3 mt-5 mb-sm-0">
    <div class="card" style="width: 18rem; text-align: center;">
      <img src="../../../assets/pexels-henry-&-co-3137890.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-header">Name of movie</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <div class="card-footer"><a href="/seat" class=" btn btn-primary">Go To Book</a>
        </div>
      </div>
    </div>
  </div>

  <div class=" col-sm-6 col-md-4 col-lg-3 mb-3 mt-5 mb-sm-0">
    <div class="card" style="width: 18rem; text-align: center;">
      <img src="../../../assets/pexels-ron-lach-9807586.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-header">Name of movie</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <div class="card-footer"><a href="/seat" class=" btn btn-primary">Go To Book</a>
        </div>
      </div>
    </div>
  </div>
<!--///////////////////// end of row -->
</div>
<div class="row">
  <div class=" col-sm-6 col-md-4 col-lg-3 mb-3 mt-5 mb-sm-0">
    <div class="card" style="width: 18rem; text-align: center;">
      <img src="../../../assets/pexels-nathan-engel-436413.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-header">Name of movie</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <div class="card-footer"><a href="/seat" class="btn btn-primary">Go To Book</a>
        </div>
      </div>
    </div>
  </div>

  <div class=" col-sm-6 col-md-4 col-lg-3 mb-3 mt-5 mb-sm-0">
    <div class="card" style="width: 18rem; text-align: center;">
      <img src="../../../assets/pexels-pixabay-458379.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-header">Name of movie</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <div class="card-footer"><a href="/seat" class="btn btn-primary">Go To Book</a>
        </div>
      </div>
    </div>
  </div>

  <div class=" col-sm-6 col-md-4 col-lg-3 mb-3 mt-5 mb-sm-0">
    <div class="card" style="width: 18rem; text-align: center;">
      <img src="../../../assets/pexels-ritesh-singh-14946480.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-header">Name of movie</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <div class="card-footer"><a href="/seat" class="btn btn-primary">Go To Book</a>
        </div>
      </div>
    </div>
  </div>

  <div class=" col-sm-6 col-md-4 col-lg-3 mb-3 mt-5 mb-sm-0">
    <div class="card" style="width: 18rem; text-align: center;">
      <img src="../../../assets/pexels-roberto-nickson-3131971.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-header">Name of movie</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <div class="card-footer">
          <a href="/seat" class="btn btn-primary">Go To Book</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end of row////////////////////////////// -->
<div class="row">
  <div class=" col-sm-6 col-md-4 col-lg-3 mb-3 mt-5 mb-sm-0">
    <div class="card  card-hover div-success div-opacity-25 " style="width: 18rem; text-align: center;">
      <img src="../../../assets/pexels-maria-luiza-melo-14213114.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-header">Name of movie</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <div class="card-footer"><a href="/seat" class="btn btn-primary">Go To Book</a>
        </div>
      </div>
    </div>
  </div>

  <div class=" col-sm-6 col-md-4 col-lg-3 mb-3 mt-5 mb-sm-0">
    <div class="card" style="width: 18rem; text-align: center;">
      <img src="../../../assets/pexels-lensmagicians-7089760.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-header">Name of movie</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <div class="card-footer"><a href="/seat" class="btn btn-primary">Go To Book</a>
        </div>
      </div>
    </div>
  </div>

  <div class=" col-sm-6 col-md-4 col-lg-3 mb-3 mt-5 mb-sm-0">
    <div class="card" style="width: 18rem; text-align: center;">
      <img src="../../../assets/pexels-stephen-tam-11872650.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-header">Name of movie</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <div class="card-footer"><a href="/seat" class="btn btn-primary">Go To Book</a>
        </div>
      </div>
    </div>
  </div>

  <div class=" col-sm-6 col-md-4 col-lg-3 mb-3 mt-5 mb-sm-0">
    <div class="card" style="width: 18rem; text-align: center;">
      <img src="../../../assets/pexels-tien-nguyen-17873961.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-header">Name of movie</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <div class="card-footer"><a href="/seat" class="btn btn-primary">Go To Book</a>
        </div>

      </div>
    </div>
  </div>
</div>
</div>





