<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 offset-md-3">

      <form (submit)="login()">
        <h2 class="text-center mb-4 mt-5">Login</h2>
        <div  class="col-md-12">
          <label  class="form-label " for="email">Email:</label>
        <input class="form-control" id="email" type="email" [(ngModel)]="email" name="email" placeholder="Enter your Email" required></div>
        <br>
        <div class="col-md-12">
          <label class="form-label" for="password">Password:</label>
          <input class="form-control" id="password" type="password" [(ngModel)]="password" name="password" placeholder="Enter your Password" required></div>
        <br>
        <div class="col-md-12">
          <button class="btn btn-primary mt-3" type="submit">Login</button>
        </div>
        <div class="col-md-12">
          <button class="btn btn-primary mt-3" type="submit" ><a href="/admin" class="text-decoration-none btn btn-text-light">Login As Admin</a> </button>
        </div>
      </form>
<p>{{ loginMessage }}</p>
</div>
</div>
</div>

